@import url("boiler-plate.css");
@import url("header.css");
@import url("main-index.css");
@import url("sign_up_in.css");
@import url("media-query.css");
@import url("footer.css");

.site-wrapper{
color:#A7A7A7;
}
/* .section-1{
  display:flex;
  flex-flow:row wrap;
   justify-content:space-between;
   align-items:flex-end;
   } */

  /******************
    section-1
  *******************/
   .section-1{
   border:0px solid yellow;
   padding:1rem;
   line-height:1.5;
   margin-top:2rem;
   }
  .section-1 .get-started-cta{
   padding:0.6rem;
   background:#0A13DF;
   color:#fff;
   width:120px;
   border-radius:8px;
   font-weight:400;
   font-size:var(--md-font);
   display:block;
   text-align:center;
   margin-top:1rem;
   }
   .section-1 p{
   font-size:var(--md-font);
   font-weight:400;
   text-transform:capitalize;
   font-size:var(--lg-font);
   }
   .section-1 p + p{
   /* border:1px solid green; */
   font-weight:500;
   font-size:var(--md-font);
   }
   .section-1 strong.capslock{
   text-transform:uppercase;
   font-weight:700;
   }

   .section-1 .right .img-container{
   width:100%;
   margin-left:-40px;
   }
   .section-1 .right .img-container img{
   width:100%;
   }
    


/* main site section styles */
/******************
    section-2
*******************/
.site-body{
  background:#FFFFFF;
  border:0px solid red;
  }
.section-2{
padding:var(--normal-edge-gap);
border:0px dotted red;
position:relative;
}
.round-corner-btn{
height:45px;
width:45px;
display:flex;
border:1px solid #F8F8F8;
-moz-box-shadow:1px  1px 2px rgba(0,0,0,0.4);
-webkit-box-shadow:1px  1px 2px rgba(0,0,0,0.4);
-o-box-shadow:1px  1px 2px rgba(0,0,0,0.4);
box-shadow:1px  1px 2px rgba(0,0,0,0.4);
border-radius:50%;
position:absolute;
top:0;
z-index:1004;
background-color:#fff;
}
.round-corner-btn.left{
left:0;
}
.round-corner-btn.right{
right:0;
}
.round-corner-btn::before{
content:">";
margin:auto;
font-size:var(--lg-font);
font-weight:300;
color:#0A13DF;
animation:slide-right 1s infinite;
}
@keyframes slide-right{
  0%{
  transform:translateX(0);
  }
  50%{
  transform:translateX(40%);
  }
  100%{
  transform:translateX(0);
  }
  }
.round-corner-btn.left::before{
/* transform:rotate(-180deg); */
animation:slide-left 1s infinite;
}
@keyframes slide-left{
  0%{
  transform:translateX(0) rotate(-180deg);
  }
  50%{
  transform:translateX(40%) rotate(-180deg);
  }
  100%{
  transform:translateX(0) rotate(-180deg);
  }
  }
.deposit-cards-wrapper{
border:0px solid green;
margin-top:-50px;
z-index:1002;
}
.deposit-card-container{
border:0px solid green;
margin-bottom:1rem;
height:120px;
}
.deposit-card{
border:1px solid #ddd;
padding:1rem;
border-radius:5px;
height:100%;
display:flex;
-moz-box-shadow:1px 1px 3px 0px rgba(0,0,0,0.2);
-webkit-box-shadow:1px 1px 3px 0px rgba(0,0,0,0.2);
-o-box-shadow:1px 1px 3px 0px rgba(0,0,0,0.2);
box-shadow:1px 1px 3px 0px rgba(0,0,0,0.2);
background-color:#fff;
}
.deposit-card p{
font-size:var(--sm-font);
font-weight:400;
margin:auto;
}


/******************
    section-3
*******************/
.section-3{
border:0px solid red;
margin:2rem 0;
padding:2rem;
}




/******************
    section-4
*******************/
.section-4{
padding:var(--normal-edge-gap);
font-weight:400;
font-size:var(--sm-font);
text-align:center;
display:flex;
flex-flow:column-reverse nowrap;
}
.section-4 .getstarted-cta{
display:block;
padding:0.6rem;
background:#0A13DF;
color:#fff;
width:120px;
/* border-radius:8px; */
text-align:left;
font-weight:400;
font-size:var(--md-font);
margin-left:-20px;
text-transform:capitalize;
transition:0.5s ease;
transform:translateY(0);
}
.section-4 .getstarted-cta:hover{
transform:translateY(20%);
}

.section-4 >*{
margin-bottom:1rem;
}
.section-4 .img-container{
border:0px solid red;
/* width:80%; */
}
.section-4 .chase-item{
padding:0.6rem;
}
.section-4 .chase-item h3{
font-weight:700;
font-size:var(--md-font);
}
.section-4 .chase-item p{
font-weight:600;
font-size:0.75rem;
margin-top:1rem;
}





/******************
   section-5
*******************/
.section-5{
padding:1rem;
background-color:#fff;
}
.section-5 h4{
font-weight:500;
text-align:center;
text-transform:capitalize;
font-size:var(--sm-font);
}
.section-5 h4 >*{
display:inline-block;
margin:0 0.4rem;
}
.section-5 h4 >*:hover{
border-bottom:3px solid #0A13DF;
}
.section-5 .flex>*{
margin-bottom:2rem;
padding:1rem;
}
.section-5 .flex .btc-eth{
border:1px solid #F1F1F1;
box-shadow:-1px 1px 2px #F8F8F8,1px 1px 2px #F8F8F8;
/* height:150px; */
border-radius:8px;
}
.section-5 .btn-row{
margin-top:1rem;
text-align:center;
}
.section-5 .btn-row input{
border:1px #F8F8F8;
width:50%;
padding:0.4rem;
border-radius:6px 0 0 6px;
-moz-box-shadow:4px 1px 3px 1px #F1F1F1,-1px -1px 2px #F1F1F1;
-webkit-box-shadow:4px 1px 3px 1px #F1F1F1,-1px -1px 2px #F1F1F1;
-o-box-shadow:4px 1px 3px 1px #F1F1F1,-1px -1px 2px #F1F1F1;
box-shadow:4px 1px 3px 1px #F1F1F1,-1px -1px 2px #F1F1F1;
outline:none;
/* z-index:1006; */
}
.section-5 .btn-row label{
border:1px #F8F8F8;
border-radius:0 6px 6px 0;
-moz-box-shadow:-1px 1px 3px #F1F1F1,1px 1px 3px #F1F1F1;
-webkit-box-shadow:-1px 1px 3px #F1F1F1,1px 1px 3px #F1F1F1;
-o-box-shadow:-1px 1px 3px #F1F1F1,1px 1px 3px #F1F1F1;
box-shadow:-1px 1px 3px #F1F1F1,1px 1px 3px #F1F1F1;
padding:0.25rem 0.6rem;
font-size:0.82rem;
margin-left:-0rem;
/* z-index:1005; */
vertical-align:middle;
}
.section-5 .btc-division-line{
margin:1rem 0rem;
display:flex;
gap:4%;
justify-content:center;
}
.section-5 .btc-division-line >*{
 border-bottom:1px solid #A7A7A7;
 height:10px;
 width:80px;
 display:inline-block
}
.section-5 .convert-cta{
border:none;
display:block;
text-align:center;
width:80px;
padding:0.5rem;
border-radius:6px;
margin:1rem auto 0 auto;
background-color:#0A13DF;
color:#fff;
cursor:pointer;
font-size:var(--sm-font);
font-weight:400;
text-transform:capitalize;
}




/******************
    section-6
*******************/
.section-6{
/* border:0px solid #f00; */
padding:1rem;
font-weight:300;
margin:2rem 0rem;
font-size:var(--sm-font);
}
.section-6 .text h4{
text-transform:capitalize;
font-weight:500;
font-size:var(--md-font);
color:#0A13DF;
text-align:center;
}
.section-6 .text dt{
color:#0A13DF;
font-weight:500;
}
.section-6 .text-body  .img-container{
height:40px;
width:40px;
padding:0.4rem;
background: #FFFFFF;
box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.11);
border-radius:50%;
position:relative;
/* border:1px solid coral; */
display:flex;
}
.section-6 .text-body  .img-container img{
margin:auto;
}

.section-6 .aside-items{
 margin-bottom:4rem;
 /* border:0px solid blue; */
}



/******************
    section-7
*******************/
.section-7{
font-weight:300;
font-size:0.6rem;
padding:1rem;
}
.section-7 .container{
margin-bottom:1rem;
padding:1rem;
}
.section-7 .text-description h4{
font-weight:500;
color:#000;
font-size:var(--sm-font);
margin-bottom:0.4rem;
}
.section-7 .text-description span a{
  color:#FFBF00;
  font-size:0.8rem;
  text-transform:capitalize;
}
.section-7 .text-description span a::after{
content:">";
margin:0.4rem 0 0 0.2rem;
display:inline-block;
}


/******************
    division line
*******************/
.division-line{
background: #E2DCFF;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
height: 14px;
}










/******************
    tablet devices
*******************/
@media(min-width:380px){
/******************
    section-1
*******************/
.section-1 .flex{
display:flex;
flex-flow:row wrap;
justify-content:space-around;
}
.section-1 .flex > *{
flex-basis:50%;
}

/******************
    section-2
*******************/
.deposit-cards-wrapper{
display:flex;
flex-flow:row wrap;
justify-content:space-around;
}
.deposit-card-container{
flex-basis:48%;
}


/******************
    section-4
*******************/
.section-4 .chase-icon-container{
display:flex;
flex-flow:row wrap;
gap:4%;
}
.section-4 .chase-icon-container >*{
flex-basis:48%;
}


/******************
    sevtion-5
*******************/
.section-5 .flex{
display:flex;
flex-flow:row wrap;
gap:4%;
}
.section-5 .flex >*{
flex:1 1 48%;
}

/******************
    section-6
*******************/

}


/******************
    Desktop devices
*******************/
@media(min-width:650px){
  /******************
    section-1
*******************/
.section-1{
padding-left:2rem;
 }  
 .section-1 .right .img-container{
 margin-left:-140px;
 }

 /******************
    section-2
*******************/
 .deposit-card-container{
  flex-basis:22%;
  }

 

/******************
    section-4
*******************/
  .section-4{
  flex-flow:row wrap;
  gap:4%;
  align-items:center;
  }
  .section-4 >*{
  border:0px solid green;
  }
  .section-4 .getstarted-cta{
  max-height:60px;
  flex-basis:18%;
  line-height:40px;
  text-align:center;
  } 
  .section-4 .chase-icon-container{
  flex-basis:78%;
  }
  .section-4 .chase-icon-container >*{
    flex-basis:22%;
    }
    .chase-item + .chase-item{
    border-left:1px solid #ddd;
    }



  /******************
    section-5
*******************/
  .section-5 .btc-division-line >*{
  width:100px;
  }

  /******************
    section-6
*******************/
  .section-6 .flex{
    display:flex;
    flex-flow:row wrap;
   }
   .section-6 .flex > *{
   flex:1 1 48%;
   }
   .section-6 .aside-items{
   display:flex;
   gap:4%;
   }
   .section-6 .text-body  .img-container .draw-dotted-line{
    border-right:4px dotted #0A13DF;
    display:inline;
    position:relative;
    top:60px;
    left:-15px;
    }
    .section-6 .text-body  .aside-items:last-child .draw-dotted-line{
    border-right:0;
    }

    
    
/******************
   section-7
*******************/
    .section-7 .customer-enquiries.flex{
    display:flex;
    flex-flow:row wrap;
    /* justify-content:space-around; */
    gap:4%;
    }
    .section-7 .customer-enquiries .flex-basis{
    flex:1 1 22%;
    }

}