/**************
Market styles
***************/
.market-header-intro{
text-align:initial;
padding:2rem 4rem;
}
/*.buycrypto-header-intro > *{

}
*/.market-header-intro .market-caption p{
font-weight:500;
font-size:1.8rem;
text-transform:capitalize;
margin:0;
display:inline-block;
}
.market-caption .caption-line{
display:block;
width:60px;
height:4px;
background:#0A13DF;
color:#0A13DF; 
}
.site-body.market-panel{
padding:1rem;
margin-top:-140px;
position:relative;
z-index:1020;
background:#FFFFFF;
box-shadow: 0px 4px 34px 1px rgba(96, 96, 96, 0.07);
border-radius:10px;
}

.market-panel .tradeview{
background:#FFFFFF;
-webkit-box-shadow:0px 4px 34px 1px rgba(96, 96, 96, 0.07);
-moz-box-shadow:0px 4px 34px 1px rgba(96, 96, 96, 0.07);
-o-box-shadow:0px 4px 34px 1px rgba(96, 96, 96, 0.07);
box-shadow:0px 4px 34px 1px rgba(96, 96, 96, 0.07);
border-radius:10px;
padding:1rem;
margin-top:2rem;
}
.market-panel .tradeview .tradeview-header menu{
text-transform:uppercase;
font-size:0.8rem;
font-weight:400;
}
.market-panel .tradeview .tradeview-header menu input{
outline:none;
border:none;
border-radius:4px;
padding:0.5rem;
text-indent:0.4rem;
background:#eee;
display:block;
}
/*.market-panel .tradeview .tradeview-body table,td,th{
border:1px solid green;
}*/
.market-panel .tradeview .tradeview-body table{
max-width:1200px;
display:block;
text-align:left;
margin:1rem 0rem; 
}
.market-panel .tradeview .tradeview-body th,td{
width:200px;
/*padding:1rem 2rem;*/
}
.market-panel .tradeview .tradeview-body table th{
font-weight:400;
font-size:0.7rem;
text-transform:capitalize;
}



/**************
Tablet Device
***************/




/**************
Desktop device
***************/
@media(min-width:650px){
.site-body.market-panel{
margin-top:-190px;
}
.market-panel .tradeview .flex-container menu{
 display:flex;
 gap:2%;
 align-items:center;
}
.market-panel .tradeview .flex-container menu li:last-child{
margin-left:auto;
}
}